<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        h1 {
            color: red;
        }
        
        a {
            display: inline-block;
            margin-top: 5px;
            padding: 10px 20px;
            background: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
        
        a:hover {
            background: #3e3e3e;
        }
    </style>
</head>

<body>
    <h1>Error</h1>
    <img class="image" src="https://i.ibb.co/z492D3n/Web-Photo-Editor.jpg" alt="hey 404 not found ">
    <br>
    <a href="/ ">Go back to the list</a>
</body>

</html>