<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= blog.name %>
    </title>
</head>

<body>
    <h1>
        <%= blog.name %>
    </h1>
    <p>
        <%= blog.details %>
    </p>
    <% if (blog.photo) { %>
        <img src="/<%= blog.photo %>" alt="Blog Photo" style="max-width:200px;"><br>
        <% } %>
            <button onclick="window.location.href='/'">Back to List</button>
</body>

</html>